# Example environment variables
# Rename this file to .env and fill in your actual MongoDB connection string

MONGODB_URI=mongodb://localhost:27017/your_database_name
BGM_API_ENDPOINT=https://api.bgm.tv/v0/subjects
ANITABI_API_ENDPOINT_TEMPLATE=https://api.anitabi.cn/bangumi/{id}/points/detail
TMDB_API_BEARER_TOKEN=
GOOGLE_MAPS_API_KEY=