.search {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.searchInputs,
.resultList {
  background-color: white;
  width: 50%;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25 rem;
  width: 100%;
  margin-left: 5px;
}

input:focus {
  outline: none;
}

.resultList {
  position: absolute;
  top: 100%; /* directly below the search bar */

  background-color: white;
  z-index: 10;

  background-color: white;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow-y: scroll;
}
