.search {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.searchInputs {
  background-color: white;
  width: 50%;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25 rem;
  width: 100%;
  margin-left: 5px;
}

input:focus {
  outline: none;
}

.resultListContainer {
  position: absolute;
  top: 100%;
  background-color: white;
  width: 50%;
  border-radius: 10px;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: left;
  z-index: 10;

  background-color: white;
  flex-direction: column;
  height: auto;
}

.findMoreLocations {
  display: block;
  padding: 10px 15px;
  margin-top: 5px;
  text-align: center;
  color: #4a90e2;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
  text-decoration: none;
  /* border-top: 1px solid #eee; */
}

.findMoreLocations:hover {
  background-color: #f5f8ff;
  text-decoration: underline;
}